body {
    font-family: 'Open Sans', sans-serif;
}

/* general classes */

header {
    background-color: #003a99;
    color: #fff;
    padding: 1% 0;
    margin-bottom: 2%;
}

header h1{
    margin: 0 0 10px 0;
}

header h2 {
    font-size: 10px;
}

header p {
    font-size: 13px;
}

footer {
    background-color: #000;
    color: #fff;
}

.container {
    padding: 0 5%;
}

#services h3 {
    text-align: left;
}

/* slideshow classes */
.slider {
    position: relative;
    /* inverse aspect-ratio of 16 x 9 images */
    padding-bottom: calc(9 / 16 * 100%);
}

.slide {
    position: absolute;
    left: 0;
    top: 0;
    transition: opacity 1s;
    opacity: 0;
}

.slide.active {
    z-index: 2;
    opacity: 1;
}

.slide img {
    width: 100%;
}

/* faq classes */
.faq-question {
    text-decoration: none;
}

.faq-answer {
    display: none;
}

.faq-answer.active {
    display: block;
}

/* mobile breakpoint */
@media screen and (max-width: 600px){
}


/* tablet breakpoint */
@media screen and (min-width: 600.1px) and (max-width: 1024px){
    #services > div{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #services article {
        flex: 0 1 49%;
    }
}

/* desktop breakpoint */
@media screen and (min-width: 1024.1px){
    #services > div{
        display: flex;
        justify-content: space-between;
    }

    #services article {
        flex: 0 1 30%;
    }

    .hero {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .hero .slider {
        flex: 0 1 74%;
    }

    .hero > p {
        flex: 0 1 24%;
    }

    .slider {
        padding-bottom: calc(9 / 16 * 74%);
    }
}