body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.4;
    background-color: #f9f9f9;
}

/* general classes */

header {
    background-color: #003a99;
    color: #fff;
    padding: 1% 0;
    margin-bottom: 2%;
}

header .request-quote {
    text-align: right;
}

header .request-quote h3 {
    margin-top: .25em;
    margin-bottom: 0;
}

.request-quote a {
    text-decoration: none;
    color: #fff;
}

.request-quote span {
    display: block;
}

header h1{
    margin: 0 0 5px 0;
}

.business-tagline h2 {
    margin-top: 0;
    font-size: 10px;
}

section h2 {
    color: #000;
    border-bottom: 2px solid #003a99;
    padding-bottom: .25em;
}

header p {
    font-size: 13px;
}

footer {
    background-color: #003a99;
    color: #fff;
    padding: 2% 0;
}

footer h4 span {
    display: block;
}

footer a {
    display: block;
    color: #fff;
}

footer h1 {
    font-size: 1.5em;
    margin-top: 0;
}

.container {
    padding: 0 5%;
}

#services h3 {
    text-align: left;
    padding: .25em .5em;
    background-color: #e3e3e3;
}

/* slideshow classes */
.slider {
    position: relative;
    /* inverse aspect-ratio of 16 x 9 images */
    padding-bottom: calc(9 / 16 * 100%);
}

.slide {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: opacity 1s;
    opacity: 0;
}

.slide.active {
    z-index: 2;
    opacity: 1;
}

.slide img {
    width: 100%;
}

/* faq classes */
#faq li {
    margin-bottom: 1em;
}

.faq-question {
    font-weight: bold;
    color: #003a99;
    text-decoration: none;
}

.faq-answer {
    display: none;
}

.faq-answer.active {
    display: block;
}

/* mobile breakpoint */
@media screen and (max-width: 600px){
    .container {
        padding: 0 2.5%;
    }
}


/* tablet breakpoint */
@media screen and (min-width: 600.1px) and (max-width: 1024px){
    #services > div{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #services article {
        flex: 0 1 49%;
    }
}

/* desktop breakpoint */
@media screen and (min-width: 1024.1px){
    header .container {
        display: flex;
    }

    header .container > div {
        flex: 0 1 50%;
    }

    #services > div{
        display: flex;
        justify-content: space-between;
    }

    #services article {
        flex: 0 1 30%;
    }

    .hero {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .hero p {
        margin: 0;
    }

    .hero .slider {
        flex: 0 1 74%;
    }

    .hero > p {
        flex: 0 1 24%;
    }

    .slider {
        padding-bottom: calc(9 / 16 * 74%);
    }
}